AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_API_ENDPOINT="https://tc-dev-aus-001.openai.azure.com/"
AZURE_OPENAI_API_VERSION="2024-08-01-preview"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="text-embedding-3-small"

MILVUS_DATABASE_URI="http://milvus:19530"
MILVUS_COLLECTION_NAME="TMG_DEV"
MILVUS_METRIC_TYPE="COSINE"

PERSONAL_OPENAI_API_KEY=""
ALLOW_PERSONAL_OPENAI=False

LOG_LEVEL="INFO"

RERANKER_MODEL="CROSS_ENCODER"
DEVICE="cpu"